/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/12/2020, 23:07:35
    Author     : alephtav
*/

body{  
    margin: 0 0 1.5%; /* altura do seu footer */   

}

body::after {
    content: "";
    background: url( ../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.footer{
    position: fixed;
    bottom: 0;
    width:100%;   
    font-size: small;
}
.zinza-rodape{
    background-color: #282a35;
    color: white;
}
.titulo{
    font-family: 'Andika New Basic', sans-serif;     
    text-shadow: #000 2px 3px 2px;
    color: black;
}
.titulo:hover{
    color:#282a35 ;
}
.comfortaa{
    font-family: 'Comfortaa', cursive;
}
.bordaredonda{
    border-radius: 10%;
}

